@if(device) {

<mat-card>
	<mat-card-content>
		@if(device.type === DeviceType.Switch) {
		<div class="content">
			<span>Name </span>
			<span>: {{device.name}}</span>

			<span>Topic</span>
			<span>: {{device.topic}}</span>

			<span>Remark</span>
			<span>: {{device.remark}}</span>
		</div>
		} @else() {
		<div class="content">
			<span>Name </span>
			<span>: {{device.name}}</span>

			<span>Topic</span>
			<span>: {{device.topic}}</span>

			<span>Remark</span>
			<span>: {{device.remark}}</span>
		</div>
		<h4>Attached switches</h4>
		@for(selectedAction of device.selectedAction; track selectedAction) {
		<div>
			{{selectedAction.action.device.name}}
			{{selectedAction.action.value}}
		</div>
		} @empty() {
		No switch
		}
		}
	</mat-card-content>
</mat-card>
}