<div class="column gap">

	<div *ngFor="let item of list" class="row jc-space-between gap2">
		<span class="row align-items-center">
			{{item.name}}
		</span>

		<div class="row gap">
			<button mat-mini-fab color="primary" (click)="onClickedInfo(item.id)">
				<mat-icon>info</mat-icon>
			</button>

			<button mat-mini-fab color="primary" (click)="onClickedEdit(item.id)">
				<mat-icon>edit</mat-icon>
			</button>

			<button mat-mini-fab color="accent" (click)="onClickedDelete(item.id)">
				<mat-icon>delete</mat-icon>
			</button>
		</div>
	</div>
</div>