<div class="container">
	<header class="row js-space-between">
		<h2>{{title}}</h2>
		<button mat-mini-fab color="primary" (click)="back()">
			<mat-icon>arrow_back</mat-icon>
		</button>
	</header>
  <section>
    <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
      <mat-card class="shipping-card">
        <mat-card-content>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name" formControlName="name">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <mat-label>Device</mat-label>
                <mat-select placeholder="Device" formControlName="device">
                  <mat-option *ngFor="let device of devices" [value]="device">
                    {{ device.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col">
              <button mat-mini-fab (click)="onAdd()" type="button">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
          <div class="column">
            <app-scene-item [input]="selectedDevices" (delete)="onDelete($event)"></app-scene-item>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Submit</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </section>
</div>