.shipping-card {
  max-width: 600px;
}

.box {
  display: flex;

  flex-direction: row;

  &.mobile {
    flex-direction: column;
    // Reset
    gap: 0;

    .p-top-8 {
      // Reset
      padding-top: 0;

      // Tumpang class sini
      display: flex;
      justify-content: right;
    }
  }
}
