<div class="container">
  <header class="row jc-space-between">
    <h5>Scenes</h5>
    <button mat-mini-fab color="primary" (click)="onClickedAdd()">
      <mat-icon>add</mat-icon>
    </button>
  </header>
  <div class="row gap2" [ngClass]="{ mobile: isHandset }">
    <section>
      <app-list-update
        [list]="scenes"
        (onEdit)="onClickedEdit($event)"
        (onDelete)="onClickedDelete($event)"
        (onInfo)="onClickedInfo($event)"
      ></app-list-update>
    </section>
    <section>
      <app-info [data]="info"></app-info>
    </section>
  </div>
</div>
