// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
@use './styles/material/side-nav.theme' as sidenav;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

@import 'styles/material/palette';

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn,
    ),
  )
);

$my-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

.theme-light {
  @include mat.all-component-themes($my-theme);
  //@include sidenav.color($my-theme, $my-hijau);
}

.theme-dark {
  @include mat.all-component-themes($my-dark-theme);
  //@include sidenav.color($my-theme, $my-hijau);
}

/* You can add global styles to this file, and also import other style files */
.row {
  flex-direction: row;
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.filler {
  flex: 1;
}

.ai-center {
  align-items: center;
}

.jc-end {
  justify-content: end;
}

.jc-space-between {
  justify-content: space-between;
}

.jc-center {
  justify-content: center;
}

.js-space-between {
  justify-content: space-between;
}

.gap {
  gap: 8px;
}

.gap2 {
  gap: 32px;
}

.p-top-8 {
  padding-top: 8px;
}

.test-color1 {
  background-color: black;
}

.test-color2 {
  background-color: green;
}

.test-box {
  display: flex;
  flex-direction: column;
  background-color: black;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
